body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background-color: #414141;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.back-icon-wrap {
    height: 60px;
    width: 55px;
    display: flex;
    margin: 0 15px 0 0;
}
.back-icon {
    height: 60px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-icon img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.banner-title {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    overflow: hidden;
}
.banner-title a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    overflow: hidden;
}


.chat-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    margin: 60px 0 60px 0;
    padding: 10px;
}
.message {
    max-width: 70%; /* Limit the message width */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    word-wrap: break-word;
    font-family: sans-serif;
    display: flex;
    align-items: end;
}

.message.sent {
    background-color: #406EC9; /* Light green background for sent messages */
    align-self: flex-end; /* Align to the right */
    text-align: right; /* Align text inside the message bubble */
}

.message.received {
    background-color: #4d4d4d; /* White background for received messages */
    align-self: flex-start; /* Align to the left */
    text-align: left; /* Align text inside the message bubble */
}

.username-content-p {
    font-size: 16px;
    margin: 0 6px 0 0;
    color: #ffffff;
}
.time-p {
    font-size: 10px;
    margin: 0;
    color: #ffffff;
}

.chat-form-div {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 5px #707070;
    background-color: #1b1b1b;
}
#chat-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
#chat-form input[type='text'] {
    background-color: #414141;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 78vw;
    padding: 0 10px;
    margin: 0 6px;
    outline: none;
    color: #ffffff;
}
#chat-form button {
    width: 40px;
    height: 40px;
    background-color: #406EC9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0 6px 0 0;
}
#chat-form button img {
    height: 30px;
    width: 30px;
}