<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Files</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user-spotrep.css') }}">
  </head>
  <body>
    <h1>User Files Page</h1>
    <a href="{{ url_for('user.userHome', username=username) }}">
      <button>
        <h5>Home</h5>
      </button>
    </a>
  </body>
</html>