<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reporter{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-base.css') }}">
  </head>
  <body>
    <div class="navbar">
      <div class="account-dropdown">
        <img class="dropbtn" onclick="toggleDropdown()" src="{{ url_for('static', filename='images/user-account.png') }}" alt="Account">
        <div class="dropdown-content" id="accountDropdown">
          <a class="dropdown-item account" href="{{ url_for('user.userAccount', username=username) }}">
            <img src="{{ url_for('static', filename='images/manage-account.png') }}" alt="Account">
            <p>Account</p>
          </a>
          <a class="dropdown-item logout" href="{{ url_for('auth.logout') }}">
            <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout">
            <p>Logout</p>
          </a>
        </div>
      </div>
      <h1 class="banner-title">
        {% block banner %}
        {% endblock %}
      </h1>
      <div class="chat-icon-wrap">
        <a class="chat-icon" href="{{ url_for('user.userChatter', username=username) }}">
          <img src="{{ url_for('static', filename='images/chat-icon.png') }}" alt="">
        </a>
      </div>
    </div>

    <!-- Display flashed messages -->
    <div class="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="flash-div error">
              <div class="flash-message">
                <img src="{{ url_for('static', filename='images/error_flash.png') }}" alt="Flash Error">
                <h5>Error! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
              <div class="progress-bar"></div> <!-- Progress bar element -->
            </div>
          {% elif category == 'success' %}
            <div class="flash-div success">
              <div class="flash-message">
                <img src="{{ url_for('static', filename='images/success_flash.png') }}" alt="Flash Success">
                <h5>Success! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
              <div class="progress-bar"></div> <!-- Progress bar element -->
            </div>
          {% elif category == 'warning' %}
            <div class="flash-div warning">
              <div class="flash-message">
                <img src="{{ url_for('static', filename='images/warning_flash.png') }}" alt="Flash Warning">
                <h5>Warning! {{ message }}</h5>
              </div>
              <span class="close-btn" onclick="this.parentElement.style.display='none'">&times;</span>
              <div class="progress-bar"></div> <!-- Progress bar element -->
            </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='js/user-base.js') }}"></script>
    <div class="main-page-content">
      {% block content %}{% endblock %}
    </div>
    <!-- JavaScript to handle flash message progress bar -->
    <script src="{{ url_for('static', filename='js/flash-progress-bar.js') }}"></script>
  </body>
</html>